<div class="container">
  <div class="page-header">
    <h1><strong><i class="fa fa-pencil"></i> Edit Account</strong></h1>
  </div>

  <div class="row">
    <%= form_for(:user, as: :user, url: registration_path(:user), html: { method: :put }) do |f| %>
    <%= render 'shared/errors', object: resource %>
    <div class="col-md-6">

      <p>
        <label class="text-muted">Email Address</label>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </p>

      <p>
        <label class="text-muted">New Password</label>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </p>
      <p>
        <label class="text-muted">Confirm New Password</label>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        <label class="text-muted">Current Password (Confirm Changes)</label>
        <%= f.password_field :current_password, class: 'form-control' %>
      </p>

      <p>
        <%= f.submit "Save", class: 'btn btn-primary' %>
      </p>
    </div>
    <% end %>
  </div>
</div>