<div class='row'>
  <div class='page-header'>
    <%= link_to t('forem.admin.group.new'), forem.new_admin_group_path, :class => "btn btn-primary pull-right" %>
    <h1>Admin Panel <small><%= t('forem.admin.group.index') %></small></h1>
  </div>
  <div class='col-md-2'>
    <%= render '/forem/admin/base/side' %>
  </div>
  <div class='col-md-10'>
    <table id='groups' class='index table table-striped' cellspacing='0'>
      <thead>
        <tr>
          <th><%= t('name', :scope => 'forem.admin.groups') %></th>
          <th><%= t('edit', :scope => 'forem.admin.groups') %></th>
          <th><%= t('delete', :scope => 'forem.admin.groups') %></th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
        <tr>
          <td>
            <%= link_to forem_emojify(group.name), forem.admin_group_path(group) %>
          </td>
          <td>
            <%= link_to t('edit', :scope => 'forem.admin.groups'), forem.admin_group_path(group) %>
          </td>
          <td>
            <%= link_to t('delete', :scope => 'forem.admin.groups'), forem.admin_group_path(group), :method => :delete %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
