<div class="page-header">
	<h1><strong><i class="fa fa-pencil"></i> <%= t('.title') %></strong><small> <%= t('.community_discussion') %></small></h1>
</div>
<div class="row">
	<div class="col-md-2">
		<%= render '/forem/forums/side' %>
	</div>
	<div class="col-md-10">
		<h1>Latest Discussions</h1>
		<hr>
		<%= render '/forem/topics/topics', topics: Forem::Topic.where(:locked => false).where(:pinned => false).where(:hidden => false) %>
	</div>
</div>
<footer id='admin_link'>
	<% if forem_admin? %>
	<%= link_to t("area", :scope => "forem.admin"), forem.admin_root_path %>
	<% end %>
</footer>
